.ceu_azul, .ceu_azul a {
	color: #66ccff;	
}
.azul_bg {
	background-color: #c0deef;
}
.azul_escuro_bg {
	background-color: #0000b3;
}
.branco_bg {
	background-color: #fff;
}
.preto_bg {
	background-color: #000;
}