.ceu_azul, .ceu_azul a {
	color: #66ccff;	
}
.ceu_azul_bg {
	background-color:#66ccff;	
}
.azul_claro, .azul_claro a {
	color: #3385ff;
}
.azul_medio, .azul_medio a {
	color:  #1a75ff;
}
.azul_escuro, .azul_escuro a {
	color: #0047b3
}
.azul_bg {
	background-color: #c0deef;
}
.azul_escuro_bg {
	background-color: #0000b3;
}
.branco_bg {
	background-color: #fff;
}
.preto_bg {
	background-color: #000;
}
.preto, .preto a {
	color: #000;
}