.corpo {
	width: 75%;
	height: auto;
}
.indice_de_codigos ul li a {
	text-decoration: none;
}
.indice_de_codigos ul li {
	list-style: none;
}
.indice_de_codigos ul li a:hover {
	border-bottom: 1px solid #0066ff;
}
.titulo{
	text-align: right;
	color: #0066ff;
	font-size: .8em;
	margin-right: 20px;
	
	
}
.titulo_java_10 {
	font-size: 1.2em;
	margin-top: 10px;
	margin-left: 5px;
	text-decoration:underline;
	line-height: .8;
}
.titulo_java_20 {
	font-size: 1.0em;
	margin-top: 10px;
	margin-left: 20px;
	text-decoration:underline;
	line-height: .7;
}
.titulo_java_30 {
	font-size: .9em;
	margin-top: 10px;
	margin-left: 30px;
	text-decoration:none;
	line-height: .6;
}
.imagem img{
	float: left;
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 40px;
	margin-top: 20px;
}
.imagem img:hover {
	border-radius: 50%;
	box-shadow: 2px 2px 2px 2px #1a75ff;
}
.voltar a {
	color: #1a75ff;
	font-size: 2em;
	margin-left: 10px;

}
.voltar a:hover {
	border :1px solid #1a75ff;
	border-radius: 10px;
}
.texto_bem_vindo h1 {
	text-align: center;
	color: blue;
	width: 75%;
}
.texto_bem_vindo p {
	text-align: center;
	color: blue;
	font-size: 1.5em;
	width: 75%;
}
.sugestoes a {
	color: blue;
	font-size: 1.2em;
	
	text-decoration: none;
}
.sugestoes {
	text-align: center;
}
.sugestoes a:hover {
	color: #1a75ff;
	border-bottom:1px solid #1a75ff;
}
.pensamento_inicial {
	color: blue;
	font-size: 1em;
	width: 31%;

	text-align: justify;
	font-style: italic;
}
.comandos {
	font-size: 1em;
	border: 1px solid black;
	width: 80%;
	border-radius: 10px;
	padding: 3px;
}
.comandos:hover {
	background-color: black;
	color: white;
}
.envolve {
	border: 1px solid;
	padding: 1px;
	width: 80%;
	border-radius: 10px;
	margin-bottom: 4px;
}
.mais {
	font-size: .9em;
}
#maiss_b {
	display : none;
}
#maiss_1 {
	display : none;
}
#maiss_2 {
	display : none;
}
#maiss_3 {
	display : none;
}
#maiss_4 {
	display : none;
}
#maiss_5 {
	display : none;
}
#maiss_6 {
	display : none;
}
#maiss_7 {
	display : none;
}
#maiss_8 {
	display : none;
}
#maiss_9 {
	display : none;
}
#maiss_10 {
	display : none;
}
#maiss_11 {
	display : none;
}
#pontos {
	
}
.texto_do_banco{
	font-size: 1.3em;
	text-align: center; 
	width: 75%;
}
/*ENTRE EM CONTATO INICIO*/

.fundo_do_contato {
	width: 100%;
	height: auto;
}
.corpo_do_contato {
	width: 60%;
	height:600px;
}
.icone_telefone img {
	display: block;
    margin-left: auto;
    margin-right: auto;
   padding: 10px;
}
.icone_email img {	
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.icone_whatsapp img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.distancia_top_160 {
	padding: 160px;
}
/*ENTRE EM CONTATO FIM*/

/*INÍCIO PÁGINA O QUE É A UML*/
.texto_da_uml {
	font-size: 1.3em;
	text-align: center; 
	width: 75%;
}
.texto_dos_tibos_bd {
	text-align: left;
	margin-left: 30px;
}
/*FIM PÁGINA O QUE É A UML*/
.botao {
	padding: 1px;
	font-size: .8em;
	margin-left: 5px;
	float: right;
	border-radius: 5px;
	border-width: 1px;
}
.botao_ler_mais {
	padding: 1px;
	font-size: .8em;
	margin-top: 3px;
	margin-bottom: 3px;
	border-radius: 5px;
	border-width: 1px;
}