
.fundo_do_footer {
	width: 100%;
	height: 150px;
}
.ff_texto1 {
	text-align: center;
	padding-top:  40px;
}
.ff_texto2 {
	text-align: center;
	padding-top:  46px;
}
.ff_texto3 {
	text-align: center;
	padding-top:  66px;
}
a {
	text-decoration: none;
}
@media only screen and (max-width: 800px){
	.some_800 {
		display: none;
	}
}
